<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>详情</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>序号</td>
                    <td>商品名字</td>
                    <td>价格</td>
                    <td>库存</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div name="id" th:value="${productById.getId()}" th:text="${productById.getId()}"></div>
                    </td>
                    <td>
                        <div th:text="${productById.getName()}" th:value="${productById.getName()}"></div>
                    </td>
                    <td>
                        <div name="price" th:value="${productById.getPrice()}"
                             th:text="${productById.getPrice()}"></div>
                    </td>
                    <td>
                        <div th:text="${productById.getStock()}" th:value="${productById.getStock()}"></div>
                    </td>
                    <td><a href="/order">购买</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>