<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
    </head>
    <body>
        <span th:text="${userName}"></span>
        <table>
            <thead>
                <tr>
                    <td>序号</td>
                    <td>商品名字</td>
                    <td>价格</td>
                    <td>库存</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pro:${productList}">
                    <td th:text="${pro.getId()}"></td>
                    <td th:text="${pro.getName()}"></td>
                    <td th:text="${pro.getPrice()}"></td>
                    <td th:text="${pro.getStock()}"></td>
                    <td><a href="/single?id=733">购买</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>